<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="icon-bar">
        <a href="menu_admin.html"><img src="../img/icon_admin.png"></a>
        <a href="tienda_view.php"><img src="../img/icon_tienda.png"></a>
        <a href="carrito_view.php"><img src="../img/icon_carrito.png"></a>
        <a href="perfil_view.php"><img src="../img/icon_usuario.png"></a>
    </div>
    <nav class="menu">

        <ul>
            <li><a >Usuarios</a>
                <ul>
                    <li><a href="admin_add_usuario_view.php">Añadir</a></li>
                    <li><a href="admin_view_usuario_view.php">Mostrar</a></li>
                    <li><a href="admin_mod_usuario_view.php">Modificar</a></li>
                    <li><a href="admin_del_usuario_view.php">Eliminar</a></li>
                </ul>
            </li>
            <li><a >Categorias</a>
                <ul>
                    <li><a href="admin_add_categoria_view.php">Añadir</a></li>
                    <li><a href="admin_view_categoria_view.php">Mostrar</a></li>
                    <li><a href="admin_mod_categoria_view.php">Modificar</a></li>
                    <li><a href="admin_del_categoria_view.php">Eliminar</a></li>
                </ul>
            </li>
            <li><a >Productos</a>
                <ul>
                    <li><a href="admin_add_producto_view.php">Añadir</a></li>
                    <li><a href="admin_view_producto_view.php">Mostrar</a></li>
                    <li><a href="admin_mod_producto_view.php">Modificar</a></li>
                    <li><a href="admin_del_producto_view.php">Eliminar</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</body>
</html>